doctype 5
html(lang='en')
head
    meta(charset='utf-8')
    title PersonifyDE - Agent: Personify
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    // impress.js
    script(src='js/impress.js')
    style
      .btn-custom {
        padding: 15px;
        font-size: 26px;
        background-color: hsl(360, 73%, 30%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dc2222", endColorstr="#841414");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#dc2222), to(#841414));
        background-image: -moz-linear-gradient(top, #dc2222, #841414);
        background-image: -ms-linear-gradient(top, #dc2222, #841414);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dc2222), color-stop(100%, #841414));
        background-image: -webkit-linear-gradient(top, #dc2222, #841414);
        background-image: -o-linear-gradient(top, #dc2222, #841414);
        background-image: linear-gradient(#dc2222, #841414);
        border-color: #841414 #841414 hsl(360, 73%, 25%);
        color: #fff !important;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
        -webkit-font-smoothing: antialiased;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border-width: 1px;
      }
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/bootstrap-responsive.css', rel='stylesheet')
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic", rel="stylesheet")
    link(href="css/impress-demo.css", rel="stylesheet")

    // jquery 1.7.2
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    // HTML5 shim IE6-8 support of HTML5 elements if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    

    script
      var api = impress();
      api.init();

      $(document).ready(function() {
        $(".service").click(function(serviceButtonClick) {
          console.log('service', serviceButtonClick.target.id);
          $("#create").addClass('slide'); //css('visibility', "hidden");
        });
      });

    // fav and touch icons 
    link(rel='shortcut icon', href='../assets/ico/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='../assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='../assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='../assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='../assets/ico/apple-touch-icon-57-precomposed.png')

  body
    
    #impress

      // nav: breadcrumbs 
      #nav(style="font-size: 24px;")
        a(href='#') PersonifyDE > 
        span(style="color:red;")
          a(href='#') Personify

      #Personify.step.slide(data-x="0", data-y="0", data-scale="3")
        h1 Personify
        span(style="height:20px;")
        span(style="font-size:20px;") services:
        br
        a(href="#")
          button.btn-custom
            b create:
            |  create a new Personify module 

    // javascript
    // Placed at the end of the document so the pages load faster 

    script(src='../assets/js/jquery.js')
    script(src='../assets/js/bootstrap-transition.js')
    script(src='../assets/js/bootstrap-alert.js')
    script(src='../assets/js/bootstrap-modal.js')
    script(src='../assets/js/bootstrap-dropdown.js')
    script(src='../assets/js/bootstrap-scrollspy.js')
    script(src='../assets/js/bootstrap-tab.js')
    script(src='../assets/js/bootstrap-tooltip.js')
    script(src='../assets/js/bootstrap-popover.js')
    script(src='../assets/js/bootstrap-button.js')
    script(src='../assets/js/bootstrap-collapse.js')
    script(src='../assets/js/bootstrap-carousel.js')
    script(src='../assets/js/bootstrap-typeahead.js')
